body{
	width: 100%;
	height: 100%;
	background: rgba(235,227,224,1);
background: -webkit-linear-gradient(rgba(235,227,224,1) 0%, rgba(126,93,78,1) 51%, rgba(126,93,78,1) 74%, rgba(126,93,78,1) 88%);
background: -o-linear-gradient(rgba(235,227,224,1) 0%, rgba(126,93,78,1) 51%, rgba(126,93,78,1) 74%, rgba(126,93,78,1) 88%);
background: linear-gradient(rgba(235,227,224,1) 0%, rgba(126,93,78,1) 51%, rgba(126,93,78,1) 74%, rgba(126,93,78,1) 88%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe3e0', endColorstr='#7e5d4e', GradientType=0 );
	background-size: 100% 140%;
	background-repeat: no-repeat; 

}
.center{
	width: 40%;
	height: 100%;
	min-height: 350px;
	padding-bottom: 50px;
	min-width: 240px;
	margin: auto;
	margin-top: 10%; 
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	font-family: Comic Sans MS;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: center;

}
.head{
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: #1BA864;
	border-radius: 10px 10px 0px 0px;
}
.choose_head{
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	padding-top: 22px;
	letter-spacing: 2px;

}
ul[ng-if="ctrl.players"]{
	display: block;
	list-style-type: none;
	margin-top: 10% 
}

li[ng-repeat="player in ctrl.players track by $index"]{
	display: block;
	width: 40%;
	height: 35px;
	background-color: #fff;
	margin: 10px auto;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
	letter-spacing: 2px;
}

@media only screen and (max-width : 700px) {
	.choose_head{
		padding-top: 18px;
		font-size: 16px;
	}
